<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentMapper">
	  <insert id="saveContent" parameterType="pd">
	  	INSERT INTO `sys_content`
	  	<trim prefix="(" suffix=")" suffixOverrides=",">
		  	<if test="content_id!=null">content_id,</if>
		  	<if test="parent_id!=null">parent_id,</if>
		  	<if test="create_by!=null">create_by,</if>
		  	<if test="create_time!=null">create_time,</if>
		  	<if test="update_time!=null">update_time,</if>
		  	<if test="title!=null">title,</if>
		  	<if test="content!=null">content,</if>
		  	<if test="state!=null">state,</if>
		  	<if test="type!=null">type,</if>
		  	<if test="is_del!=null">is_del,</if>
		  	<if test="is_publish!=null">is_publish,</if>
	  	</trim>
	  	<trim prefix="values(" suffix=")" suffixOverrides=",">
	  		<if test="content_id!=null">#{content_id},</if>
		  	<if test="parent_id!=null">#{parent_id},</if>
		  	<if test="create_by!=null">#{create_by},</if>
		  	<if test="create_time!=null">#{create_time},</if>
		  	<if test="update_time!=null">#{update_time},</if>
		  	<if test="title!=null">#{title},</if>
		  	<if test="content!=null">#{content},</if>
		  	<if test="state!=null">#{state},</if>
		  	<if test="type!=null">#{type},</if>
		  	<if test="is_del!=null">#{is_del},</if>
		  	<if test="is_publish!=null">#{is_publish},</if>
	  	</trim>
	  </insert>
	  
	  <update id="updateByid" parameterType="pd">
	  		UPDATE sys_article
	  		<set>
	  			<if test="parent_id!=null">
	  				parent_id = #{parent_id},
	  			</if>
	  			<if test="update_time!=null">
	  				update_time = #{update_time},
	  			</if>
	  			<if test="title!=null">
	  				title = #{title},
	  			</if>
	  			<if test="content!=null">
	  				content = #{content},
	  			</if>
	  			<if test="state!=null">
	  				state = #{state},
	  			</if>
	  			<if test="type!=null">
	  				type = #{type},
	  			</if>
	  			<if test="is_del!=null">
	  				is_del = #{is_del},
	  			</if>
	  			<if test="is_publish!=null">
	  				is_publish = #{is_publish},
	  			</if>
	  		</set>
	  		WHERE content_id=#{content_id}
	  </update>
	  
	  <select id="findContent" parameterType="pd" resultType="pd">
			SELECT 
			a.ARTICLE_ID id,
			u.user_id,
			u.avatar,
			u.name,
			u.nickname,
			u.unit,
			a.IS_PUBLISH publishType,
			a.TYPE type,
			an.title parentName,
			a.CREATE_DATE createTime,
			a.ARTICLE_ID updateTime,
			a.IS_TOP status,
			a.ARTICLE_TITLE title,
			a.ARTICLE_CONTENT content,
			(select count(1) from user_action where obj_id = a.ARTICLE_ID and action_type=1) as collectNum,
			(select count(1) from user_action where obj_id = a.ARTICLE_ID and action_type=2) as praiseNum
			from sys_content a 
			left join sys_user u
			left join sys_anthology
			on a.CREATE_BY = u.user_id
			
			limit #{offset},#{limit}
	  </select>
</mapper>