<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleMapper">
	  <insert id="saveArticle" parameterType="pd">
	  	INSERT INTO `sys_article`
	  	<trim prefix="(" suffix=")" suffixOverrides=",">
		  	<if test="ARTICLE_ID!=null">ARTICLE_ID,</if>
		  	<if test="ANTHOLOGY_ID!=null">ANTHOLOGY_ID,</if>
		  	<if test="ARTICLE_CONTENT!=null">ARTICLE_CONTENT,</if>
		  	<if test="CREATE_DATE!=null">CREATE_DATE,</if>
		  	<if test="CREATE_BY!=null">CREATE_BY,</if>
		  	<if test="UPDATE_DATE!=null">UPDATE_DATE,</if>
		  	<if test="UPDATE_BY!=null">UPDATE_BY,</if>
		  	<if test="ARTICLE_TITLE!=null">ARTICLE_TITLE,</if>
		  	<if test="READING_NUMBER!=null">READING_NUMBER,</if>
		  	<if test="IS_TOP!=null">IS_TOP,</if>
		  	<if test="TYPE!=null">TYPE,</if>
		  	<if test="IS_DEL!=null">IS_DEL,</if>
		  	<if test="IS_PUBLISH!=null">IS_PUBLISH,</if>
	  	</trim>
	  	<trim prefix="values(" suffix=")" suffixOverrides=",">
	  		<if test="ARTICLE_ID!=null">#{ARTICLE_ID},</if>
		  	<if test="ANTHOLOGY_ID!=null">#{ANTHOLOGY_ID},</if>
		  	<if test="ARTICLE_CONTENT!=null">#{ARTICLE_CONTENT},</if>
		  	<if test="CREATE_DATE!=null">#{CREATE_DATE},</if>
		  	<if test="CREATE_BY!=null">#{CREATE_BY},</if>
		  	<if test="UPDATE_DATE!=null">#{UPDATE_DATE},</if>
		  	<if test="UPDATE_BY!=null">#{UPDATE_BY},</if>
		  	<if test="ARTICLE_TITLE!=null">#{ARTICLE_TITLE},</if>
		  	<if test="READING_NUMBER!=null">#{READING_NUMBER},</if>
		  	<if test="IS_TOP!=null">#{IS_TOP},</if>
		  	<if test="TYPE!=null">#{TYPE},</if>
		  	<if test="IS_DEL!=null">#{IS_DEL},</if>
		  	<if test="IS_PUBLISH!=null">#{IS_PUBLISH},</if>
	  	</trim>
	  </insert>
	  
	  <update id="update" parameterType="pd">
	  		UPDATE sys_article
	  		<set>
	  			<if test="ARTICLE_CONTENT!=null">
	  				ARTICLE_CONTENT = #{ARTICLE_CONTENT},
	  			</if>
	  			<if test="UPDATE_DATE!=null">
	  				UPDATE_DATE = #{UPDATE_DATE},
	  			</if>
	  			<if test="UPDATE_BY!=null">
	  				UPDATE_BY = #{UPDATE_BY},
	  			</if>
	  			<if test="ARTICLE_CONTENT!=null">
	  				ARTICLE_CONTENT = #{ARTICLE_CONTENT},
	  			</if>
	  			<if test="ARTICLE_TITLE!=null">
	  				ARTICLE_TITLE = #{ARTICLE_TITLE},
	  			</if>
	  			<if test="READING_NUMBER!=null">
	  				READING_NUMBER = #{READING_NUMBER},
	  			</if>
	  			<if test="IS_TOP!=null">
	  				IS_TOP = #{IS_TOP},
	  			</if>
	  			<if test="TYPE!=null">
	  				TYPE = #{TYPE},
	  			</if>
	  			<if test="IS_DEL!=null">
	  				IS_DEL = #{IS_DEL},
	  			</if>
	  			<if test="IS_PUBLISH!=null">
	  				IS_PUBLISH = #{IS_PUBLISH},
	  			</if>
	  		</set>
	  		WHERE ARTICLE_ID=#{ARTICLE_ID}
	  </update>
	  
	  <select id="findArticle" parameterType="pd" resultType="pd">
			SELECT 
			a.content_id,
			u.user_id,
			u.avatar,
			u.name,
			u.nickname,
			u.unit,
			a.publish_type,
			a.type,
			an.anthology_id,
			an.title anthologyTitle,
			a.create_time createTime,
			a.update_time updateTime,
			a.is_publish status,
			a.title,
			a.content,
			(select count(1) from user_action where obj_id = a.content_id and action_type=1) as attentionNum,
			(select count(1) from user_action where obj_id = a.content_id and action_type=2) as collectNum,
			(select count(1) from user_action where obj_id = a.content_id and action_type=3) as praiseNum
			from sys_content a left join sys_user u
			on a.create_by = u.user_id
			left join  sys_anthology an
			on a.anthology_id = an.anthology_id
			where 1=1
			<if test="searchText!=null">
			 and (a.title like concat('%',#{searchText},'%')
			 or a.content like concat('%',#{searchText},'%')
			 )
			</if>
			<if test="type!=null">
				and a.type =#{type}
			</if>
			limit #{offset},#{limit}
	  </select>
</mapper>