<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleMapper">
	  <insert id="saveArticle" parameterType="json">
	  	INSERT INTO `sys_article`
	  	<trim prefix="(" suffix=")" suffixOverrides=",">
		  	<if test="ARTICLE_ID!=null">ARTICLE_ID,</if>
		  	<if test="ANTHOLOGY_ID!=null">ANTHOLOGY_ID,</if>
		  	<if test="ARTICLE_CONTENT!=null">ARTICLE_CONTENT,</if>
		  	<if test="CREATE_DATE!=null">CREATE_DATE,</if>
		  	<if test="CREATE_BY!=null">CREATE_BY,</if>
		  	<if test="UPDATE_DATE!=null">UPDATE_DATE,</if>
		  	<if test="UPDATE_BY!=null">UPDATE_BY,</if>
		  	<if test="ARTICLE_TITLE!=null">ARTICLE_TITLE,</if>
		  	<if test="READING_NUMBER!=null">READING_NUMBER,</if>
		  	<if test="IS_TOP!=null">IS_TOP,</if>
		  	<if test="TYPE!=null">TYPE,</if>
	  	</trim>
	  	<trim prefix="values(" suffix=")" suffixOverrides=",">
	  		<if test="ARTICLE_ID!=null">#{ARTICLE_ID},</if>
		  	<if test="ANTHOLOGY_ID!=null">#{ANTHOLOGY_ID},</if>
		  	<if test="ARTICLE_CONTENT!=null">#{ARTICLE_CONTENT},</if>
		  	<if test="CREATE_DATE!=null">#{CREATE_DATE},</if>
		  	<if test="CREATE_BY!=null">#{CREATE_BY},</if>
		  	<if test="UPDATE_DATE!=null">#{UPDATE_DATE},</if>
		  	<if test="UPDATE_BY!=null">#{UPDATE_BY},</if>
		  	<if test="ARTICLE_TITLE!=null">#{ARTICLE_TITLE},</if>
		  	<if test="READING_NUMBER!=null">#{READING_NUMBER},</if>
		  	<if test="IS_TOP!=null">#{IS_TOP},</if>
		  	<if test="TYPE!=null">#{TYPE},</if>
	  	</trim>
	  </insert>
</mapper>