<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserXMapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  
	<!-- 新增用户 -->
	<insert id="saveU" parameterType="pd">
		insert into sys_user 
		(user_id,phone,verification_code)
		values (
			#{USER_ID},		
			#{PHONE},		
			#{VERIFICATION_CODE}	
		)
	</insert>
	<!-- 通过手机获取数据 -->
	<select id="findByUPhone" parameterType="pd" resultType="pd" useCache="false">
		SELECT verification_code,state
		from sys_user
		where phone = #{PHONE}
	</select>
	<update id="updateUser" parameterType="pd">
		update sys_user 
		<set>
			<if test="VERIFICATION_CODE!=null">
				verification_code = #{VERIFICATION_CODE},
			</if>
			<if test="state!=null">
				state = #{state},
			</if>
		</set> 
		where phone=#{PHONE}
	</update>
</mapper>